In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')
data

,Time,Object Name,Status,Value,Units,Alert ID,Priority
0,19.04.2021 9:29:18,TIC Gauge 3,5.0,9.900000e+09,59.0,0,0
1,19.04.2021 9:29:18,TIC Turbo Speed,NaN,1.600000e+00,NaN,0,0
2,19.04.2021 9:29:18,TIC Turbo Power,NaN,8.000000e+00,NaN,0,0
3,19.04.2021 9:29:18,TIC Gauge 1,11.0,1.000000e+05,59.0,0,0
4,19.04.2021 9:29:18,TIC Gauge 2,5.0,9.900000e+09,59.0,0,0
...,...,...,...,...,...,...,...
23994,19.04.2021 12:17:49,TIC Turbo Speed,NaN,9.460000e+01,NaN,0,0
23995,19.04.2021 12:17:49,TIC Turbo Power,NaN,6.100000e+00,NaN,0,0
23996,19.04.2021 12:17:49,TIC Gauge 1,11.0,1.000000e-02,59.0,0,0
23997,19.04.2021 12:17:49,TIC Gauge 2,11.0,1.370000e-02,59.0,0,0
23998,19.04.2021 12:17:49,TIC Gauge 3,11.0,1.290000e-02,59.0,0,0

In [8]:
data[data['Object Name'] == 'TIC Turbo Speed']

,Time,Object Name,Status,Value,Units,Alert ID,Priority
1,19.04.2021 9:29:18,TIC Turbo Speed,NaN,1.6,NaN,0,0
5,19.04.2021 9:29:20,TIC Turbo Speed,NaN,1.6,NaN,0,0
10,19.04.2021 9:29:22,TIC Turbo Speed,NaN,1.6,NaN,0,0
15,19.04.2021 9:29:24,TIC Turbo Speed,NaN,1.6,NaN,0,0
20,19.04.2021 9:29:26,TIC Turbo Speed,NaN,1.6,NaN,0,0
...,...,...,...,...,...,...,...
23974,19.04.2021 12:17:41,TIC Turbo Speed,NaN,95.8,NaN,0,0
23980,19.04.2021 12:17:43,TIC Turbo Speed,NaN,95.5,NaN,0,0
23984,19.04.2021 12:17:45,TIC Turbo Speed,NaN,95.2,NaN,0,0
23989,19.04.2021 12:17:47,TIC Turbo Speed,NaN,94.9,NaN,0,0
23994,19.04.2021 12:17:49,TIC Turbo Speed,NaN,94.6,NaN,0,0